<div class="container" id="main-container">
<div class="row">
  <div class="col-md-6">
    <div class="card" *ngIf="hotel">
      <!--<img class="card-img-top" src="https://image.flyinstatic.com/f/500x330,q85/http://images.flyinstatic.com/ebtranet-images/46961/00.jpg" alt="Card image cap">-->
      <div class="card-body">
        <h3 class="card-title align-items-center d-flex justify-content-center">{{hotel.name}}</h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Destination: {{hotel.destination.name}}, {{hotel.destination.state.name}}</li>
        <li class="list-group-item">Hotel address is {{hotel.address}}</li>
        <li class="list-group-item">{{hotel.name}} has {{hotel.rating}} stars</li>
      </ul>
      <div class="card-body">
        <button (click)="back()" class="btn btn-secondary float-left">Go back to hotels</button>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <img class="card-img-top" src="https://image.flyinstatic.com/f/500x330,q85/http://images.flyinstatic.com/ebtranet-images/46961/00.jpg" alt="Card image cap">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
        <div class="card-body">
          <h3 class="card-title align-items-center d-flex justify-content-center">Rooms</h3>
          <div class="wrapper">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addRoomModal">
              Add Room
            </button>
          </div>
          <div class="row">
            <div class="col-md-6 col-xl-3" *ngFor="let room of rooms">
                <div class="card m-b-30">
                  <img src="https://www.gannett-cdn.com/-mm-/05b227ad5b8ad4e9dcb53af4f31d7fbdb7fa901b/c=0-64-2119-1259/local/-/media/USATODAY/USATODAY/2014/08/13/1407953244000-177513283.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                      <h5 class="card-title align-items-center d-flex justify-content-center">Room number: {{room?.id.room_number}}</h5>
                      <p class="card-text">{{room?.description}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">{{room?.roomType}}</li>
                      <li class="list-group-item">Price per night: {{room?.pricePerNight}}</li>
                      <li class="list-group-item">Available: {{room?.available}}</li>
                    </ul>
                    <div class="card-body">
                      <div class="float-right btn-group btn-group-sm">>
                       <span title="Click to edit room"><a (click)="onOpenModal(room, 'edit')" class="btn btn-success tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i></a></span>
                       <span title="Click to delete room"><a (click)="onOpenModal(room, 'delete')" class="btn btn-danger tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-trash"></i></a></span>
                      </div>
                   </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Add Room Modal -->
<div class="modal fade" id="addRoomModal" tabindex="-1" role="dialog" aria-labelledby="addRoomModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addRoomModalLabel">Add Room</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddRoom(addForm)">
            <!--
            <div class="form-group">
                <label for="hotel_id" class="form-label">Hotel ID</label>
                <input type="number" [ngModel]="id" name="hotel_id" class="form-control" id="hotel_id">
            </div>
            -->
          <div class="form-group">
            <label for="room_number" class="form-label">Room number</label>
            <input type="text" ngModel name="room_number" class="form-control" id="room_number" placeholder="Room number" #room_number="ngModel" required>
          </div>
          <div class="form-group" *ngIf="room_number.invalid && room_number.touched">
            <label for="name" class="error-label" >You need to input room number</label>
          </div>

          <div class="form-group">
            <label for="description" class="form-label">Description</label>
            <input type="text" ngModel name="description" class="form-control" id="description" placeholder="Room description" #description="ngModel" required>
          </div>
          <div class="form-group" *ngIf="description.invalid && description.touched">
            <label for="address" class="error-label" >You need to input room description</label>
          </div>

          <div class="form-group">
            <label for="pricePerNight" class="form-label">Price per night</label>
            <input type="number" ngModel name="pricePerNight" class="form-control" id="pricePerNight" placeholder="Price per night"  #pricePerNight="ngModel" required>
          </div>
          <div class="form-group" *ngIf="pricePerNight.invalid && pricePerNight.touched">
            <label for="rating" class="error-label" >You need to input price per night for room</label>
          </div>

          <div class="form-group">
            <label for="roomType" class="form-label">Room type</label>
            <select ngModel name="roomType" class="form-control" id="roomType" placeholder="Room type" required>
              <option *ngFor="let name of enumKeys" [value]="name"> {{roomType[name]}} </option>
            </select>
          </div>

            <!--
            <div class="form-group">
              <label for="hotel" class="form-label">Hotel</label>
              <select [ngModel]="hotel.name" name="hotel" class="form-control" id="hotel" disabled>
                <option [value]="hotel.name" default> </option>
              </select>
            </div>
            -->
            <!---
            <div class="form-group">
               <label for="phone">Image URL</label>
               <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" required>
            </div>
            -->
          <div class="modal-footer">
            <button type="button" id="add-room-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button  type="submit" class="btn btn-primary" [disabled]="addForm.invalid">Save</button>
            <!--  -->
          </div>
          </form>
          </div>
      </div>
  </div>
</div>

<!-- Edit Room Modal -->
<div class="modal fade" id="updateRoomModal" tabindex="-1" role="dialog" aria-labelledby="roomEditModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateRoomModalLabel">Edit Room {{editRoom?.id.room_number}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #editForm="ngForm">

             <!-- <input type="hidden" ngModel="{{editRoom?.id.room_number}}" name="room_number" class="form-control" id="room_number" placeholder="Room number">-->

              <div class="form-group">
                 <label for="description" class="form-label">Description</label>
                 <input type="text" ngModel="{{editRoom?.description}}" name="description" class="form-control" id="description" placeholder="Description" #description="ngModel" required>
              </div>
              <div class="form-group" *ngIf="description.invalid && description.touched && description.dirty">
                <label for="description" class="error-label" >You need to input room description</label>
              </div>

              <div class="form-group">
                 <label for="pricePerNight" class="form-label">Price per night</label>
                 <input type="number" ngModel="{{editRoom?.pricePerNight}}" name="pricePerNight" class="form-control" id="pricePerNight" placeholder="Price per night" #pricePerNight="ngModel" required>
              </div>
              <div class="form-group" *ngIf="pricePerNight.invalid && pricePerNight.touched && pricePerNight.dirty">
                <label for="pricePerNight" class="error-label" >You need to input price per night</label>
              </div>

              <div class="form-group">
                <label for="roomType" class="form-label">Room type</label>
                <select ngModel name="roomType" class="form-control" id="roomType" placeholder="Room type" required>
                  <option *ngFor="let name of enumKeys" [value]="name">{{roomType[name]}}</option>
                </select>
             </div>

             <!--
              <div class="form-group">
                 <label for="phone">Image URL</label>
                 <input type="text" ngModel="{{editEmployee?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL">
              </div>
              -->

              <div class="modal-footer">
                 <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                 <button (click)="onUpdateRoom(editForm.value, editRoom?.id.room_number)" data-dismiss="modal" class="btn btn-primary" [disabled]="editForm.invalid">Save changes</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteRoomModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Delete Room</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Are you sure you want to delete room {{deleteRoom?.id.room_number}}?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteRoom(deleteRoom?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  </div>
</div>

<!-- Notification for no rooms -->
  <div *ngIf="rooms?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">NO ROOMS!</h4>
      <p>No Rooms were found.</p>
    </div>
</div>




