h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 10px;
  font-weight: 600;
  color: black;
}

li {
  color:black;
}

.row {
  padding: 15px;
}

.card-title{
  text-align: center;
}

.wrapper {
  text-align: center;
}

.form-label {
  color:#050505;
}

.error-label {
  color:rgba(233, 8, 8, 0.85)
}
