<div class="row ">
  <div *ngFor="let arrangement of arrangements; let i=index">
      <div class="column">
    <div class="card  card-wrapper" style="width: 18rem;">



    <h1>Rezervacija broj {{i+1}}</h1>

    <div class="card-body card-wrapper">

    <ul class="list-group bg-light list-group-flush">
      <li class="list-group-item">Destinacija: {{arrangement.hotel.destination.name}}</li>
      <li class="list-group-item">Broj nocenja: {{arrangement.numberOfNights}}</li>
      <li class="list-group-item">Datum polaska: {{arrangement.dateFrom | date: 'short'}}</li>
      <li class="list-group-item">Datum dolaska: {{arrangement.dateTo | date: 'short'}}</li>
      <li class="list-group-item">Hotel: {{arrangement.hotel.name}}</li>
      <li class="list-group-item">Vrsta transporta: {{arrangement.transportation.type}} </li>
      <li class="list-group-item">Max osoba: {{arrangement.people}}</li>
      <li class="list-group-item">Ukupna cena: {{arrangement.totalPrice}} $</li>
    </ul>
    <div class="card-body">


      <button mat-button color="warn" (click)="cancelReservation(arrangement.id)"
       aria-label="Show an example snack-bar">
        Cancel reservation
       </button>

    </div>

  </div>
  </div>
  </div>
  </div>
</div>
