<div class="row ">
  <div *ngFor="let arrangement of arrangements; let i=index">
      <div class="column">
    <div class="card  card-wrapper" style="width: 18rem;">



    <h1>Arrangement number {{i+1}}</h1>

    <div class="card-body card-wrapper">

    <ul class="list-group bg-light list-group-flush">
      <li class="list-group-item">Destination: {{arrangement.hotel.destination.name}}</li>
      <li class="list-group-item">Number of nights: {{arrangement.numberOfNights}}</li>
      <li class="list-group-item">Date from: {{arrangement.dateFrom | date: 'short'}}</li>
      <li class="list-group-item">Date to: {{arrangement.dateTo | date: 'short'}}</li>
      <li class="list-group-item">Hotel: {{arrangement.hotel.name}}</li>
      <li class="list-group-item">Transportation: {{arrangement.transportation.type}} </li>
      <li class="list-group-item">Maximum number of people: {{arrangement.people}}</li>
      <li class="list-group-item">Total price per person: {{arrangement.totalPrice}} $ </li>
      

    </ul>
    <div class="card-body">


      <button mat-button color="warn" (click)="cancelReservation(arrangement.id)"
       aria-label="Show an example snack-bar">
        Cancel reservation
       </button>

    </div>

  </div>
  </div>
  </div>
  </div>
</div>
