@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';


select.ng-touched.ng-invalid {
  border: 1px solid red;
}

input.ng-touched.ng-invalid {
  border: 1px solid red;
}

a {
  cursor: pointer;
}

.container {
  padding: 15px;
}

.card {
  border: none;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  margin-bottom: 30px;
}

.w-60 {
  width: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 10px;
  font-weight: 600;
  color: black;
}

.social-links li a {
  -webkit-border-radius: 50%;
  background-color: rgba(89, 206, 181, .85);
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
  font-size: 12px;
}

a {
  color: #707070;
}

i {
color: rgb(15, 15, 15);
}

a {
color: white;
}

li {
  color:black;
}

.row {
  padding: 15px;
}

.wrapper {
  text-align: center;
}

.btn btn-primary{
  position: absolute;
  top: 50%;
}

.form {
  padding: 15px;
}

.form-label {
  color:#050505;
}

.modal-title {
  font-size: 20px;
}


/* Removes arrows from input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card-img-top {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

