<div class="container" id="main-container">

  <div class="wrapper">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addHotelModal">
      Add Hotel
    </button>
    <form class="form">
      <input type="search"  (ngModelChange)="searchHotels(key.value)" #key="ngModel" ngModel
       name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search hotels..." required>
   </form>
  </div>


  <div class="row">
    <div *ngFor="let hotel of hotels" class="col-md-6 col-xl-3">
       <div class="card m-b-30">
        <img src="https://image.flyinstatic.com/f/500x330,q85/http://images.flyinstatic.com/ebtranet-images/46961/00.jpg" class="card-img-top" alt="">
          <div class="card-body align-items-center d-flex justify-content-center">
             <!--<div class="col-6">
                <a href=""><img src="https://www.kindpng.com/picc/m/284-2844300_hotel-building-clipart-png-hotel-clipart-png-transparent.png" alt="" class="img-fluid rounded-circle w-60"></a>
             </div>-->
             <!--<div class="col-6 card-title align-self-center mb-0">-->

                <h3 class="card-title">{{hotel?.name}}</h3>

            <!-- </div>-->
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa fa-star float-right"></i>{{hotel?.rating}} stars</li>
            <li class="list-group-item"><i class="fa fa-plane float-right"></i>{{hotel?.destination.name}}, {{hotel?.destination.state.name}}</li>
            <li class="list-group-item"><i class="fa fa-street-view float-right"></i>{{hotel?.address}}</li>
          </ul>
          <div class="card-body">
             <div class="float-right btn-group btn-group-sm">
              <span title="Click to see details for the hotel"><a (click)="hotelDetails(hotel.id)" class="btn btn-warning tooltips" data-placement="top" data-original-title="Details"><i class="fa fa-info"></i></a></span>
              <span title="Click to edit hotel"><a (click)="onOpenModal(hotel, 'edit')" class="btn btn-success tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i></a></span>
                <span title="Click to delete hotel"><a (click)="onOpenModal(hotel, 'delete')" class="btn btn-danger tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-trash"></i></a></span>
             </div>
          </div>
       </div>
    </div>

    <!-- Add Hotel Modal -->
<div class="modal fade" id="addHotelModal" tabindex="-1" role="dialog" aria-labelledby="addHotelModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addHotelModalLabel">Add Hotel</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddHotel(addForm)">
          <div class="form-group">
             <label for="name" class="form-label">Name</label>
             <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name" #name="ngModel" required>
          </div>
          <div class="form-group" *ngIf="name.invalid && name.touched">
            <label for="name" class="error-label" >You need to input name for hotel</label>
          </div>

          <div class="form-group">
             <label for="address" class="form-label">Address</label>
             <input type="text" ngModel name="address" class="form-control" id="address" placeholder="Address" #address="ngModel" required>
          </div>
          <div class="form-group" *ngIf="address.invalid && address.touched">
            <label for="address" class="error-label" >You need to input address for hotel</label>
          </div>

          <div class="form-group">
             <label for="rating" class="form-label">Rating</label>
             <input pattern="([1-5])" type="number" ngModel name="rating" class="form-control" id="rating" placeholder="Rating"  #rating="ngModel" required>
          </div>
          <div class="form-group" *ngIf="rating.invalid && rating.touched">
            <label for="rating" class="error-label" >Rating range is from 1 to 5</label>
          </div>

          <div class="form-group">
            <label for="destination" class="form-label">Destination</label>
            <select ngModel name="destination" class="form-control" id="destination" placeholder="Destination" required>
              <option *ngFor="let destination of destinations" [ngValue]="destination">{{destination.name}}, {{destination.state.name}}</option>
            </select>
         </div>
          <!---
          <div class="form-group">
             <label for="phone">Image URL</label>
             <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" required>
          </div>
          -->
          <div class="modal-footer">
             <button type="button" id="add-hotel-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button  type="submit" class="btn btn-primary" [disabled]="addForm.invalid">Save</button>
          <!--  -->
            </div>
          </form>
       </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="updateHotelModal" tabindex="-1" role="dialog" aria-labelledby="hotelEditModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateHotelModalLabel">Edit Hotel {{editHotel?.name}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #editForm="ngForm">
              <div class="form-group">
                 <label for="name" class="form-label">Name</label>
                 <input type="text" ngModel="{{editHotel?.name}}" name="name" class="form-control" id="name"  placeholder="Name" #name="ngModel" required>
              </div>
              <div class="form-group" *ngIf="name.invalid && name.touched && name.dirty">
                <label for="name" class="error-label" >You need to input name for hotel</label>
              </div>

              <input type="hidden" ngModel="{{editHotel?.id}}" name="id" class="form-control" id="id" placeholder="Id">
              <div class="form-group">
                 <label for="address" class="form-label">Address</label>
                 <input type="text" ngModel="{{editHotel?.address}}" name="address" class="form-control" id="address" placeholder="Address" #address="ngModel" required>
              </div>
              <div class="form-group" *ngIf="address.invalid && address.touched && address.dirty">
                <label for="address" class="error-label" >You need to input address for hotel</label>
              </div>

              <div class="form-group">
                 <label for="rating" class="form-label">Rating</label>
                 <input pattern="([1-5])" type="number" ngModel="{{editHotel?.rating}}" name="rating" class="form-control" id="rating" placeholder="Rating" #rating="ngModel" required>
              </div>
              <div class="form-group" *ngIf="rating.invalid && rating.touched && rating.dirty">
                <label for="rating" class="error-label" >Rating range is from 1 to 5</label>
              </div>

              <div class="form-group">
                <label for="destination" class="form-label">Destination</label>
                <select ngModel name="destination" class="form-control" id="destination" placeholder="Destination" required>
                  <option *ngFor="let destination of destinations" [ngValue]="destination">{{destination.name}}, {{destination.state.name}}</option>
                <h5></h5>
                </select>
             </div>

             <!--
              <div class="form-group">
                 <label for="phone">Image URL</label>
                 <input type="text" ngModel="{{editEmployee?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL">
              </div>
              -->
              <div class="modal-footer">
                 <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                 <button (click)="onUpdateHotel(editForm.value)" data-dismiss="modal" class="btn btn-primary" [disabled]="editForm.invalid">Save changes</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteHotelModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Delete Hotel</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Are you sure you want to delete hotel {{deleteHotel?.name}}?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteHotel(deleteHotel?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  </div>
</div>
</div>

<!-- Notification for no hotels -->
<div *ngIf="hotels?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">NO HOTELS!</h4>
  <p>No Hotels were found.</p>
</div>

</div>
