.navbar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

}

.sidenav-content {
  background-image: url("/assets/backgroundImages/travel.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1;
}

.nav-caption {
  margin: 5px;
}

